.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.image {
  margin-bottom: 2rem;
  max-width: calc(100vw - 3rem);
  height: auto;
}

.description {
  max-width: 25rem;
  text-align: center;
}

.button {
  background-color: #111111;
  width: fit-content;
  border: 1px solid #9a9a9a;
  border-radius: 30px;
  padding: 5px 40px;
  text-decoration: none;
  color: #9a9a9a;
}

.button:hover {
  text-decoration: none;
  background-color: #9a9a9a;
  color: #111111;
}
